@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Great+Vibes&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;    
    padding: 0%;
    margin: 0%;
    font: arial;
    
}

    
/*-----------------Navigation bar-----------------*/


.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/wallpaper3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;

}

nav{
    align-items: center;
    height: 30px;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    background-color: #f1b47f;
    position:sticky;
    top:0px;
    box-shadow: 0px 5px 20px;
}



.logo{
    padding-left: 5px;
    padding-top: -50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    font-size:x-large;
}

.beauty{
    font-size:45px;
    padding-right: 10px;
    color: #7d3b01;
}

.fitness{
    font-size:45px;
    color: white;

    
}

.navmenu{
    text-align: right;
    list-style: none;
}

.navitem{
    font-size:large;
    display:inline-block;
    padding-top:;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding:20px;
        
}

nav ul li a:hover {
    color: #7d3b01;
    transform: scale(0.3s);
}

.active{
    color: rgb(255, 255, 255);
    background-color: #7d3b01;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.nsbm-active:hover{
    color: rgb(0, 255, 0);
    
}

.active:hover{
color:white
}

.searchform{
    float: right;
    margin-top: 2px;
    margin-right: 100px;
}

.searchform{
    
}

input[type=text]{
    padding: 7px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 5px 0px 0px 5px;


}

button{
    float: right;
    background: #7d3b01;
    color: white;
    border-radius: 0 5px 5px 0px;
    cursor: pointer;
    position: relative;
    padding: 7px;
    font-family: sans-serif;
    border: none;
    font-size: 16px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}



/*-----------------Contents-----------------*/





.row{
    display: flex;
    height: 100%;
    align-items: center;
    padding-bottom: 100px;
}

.col{
    flex-basis: 50%;
    padding-left: 50px;
}

h4{
    font-family: 'Great Vibes',cursive;
    color: #bb5801;
    font-size: 100px;
}

p{
    font-family: 'Comfortaa';
    color:rgb(175, 132, 2);
    font-size: 18px;
    line-height: 30px;
}

h5{
    font-size: 20px;
    padding-top: 190px;
    padding-left: 70px;
    text-shadow: 0px 2px 8px;
}

.card{
    width: 250px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(card.webp);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    box-shadow: 0px 0px 20px;
}


.card1{
    background-image: url(images/askin\ care.jpg);
}

.card2{
    background-image: url(images/hair\ care.jpg);
}


.card3{
    background-image: url(images/beauty.jpg);
}


.card4{
    background-image: url(images/fitness.webp);
}

.card:hover{
    transform: translateY(-12px);
}


.card p{
    font-size: 8px;
    text-shadow: 0 0 15px #000;
}




/*-----------------screen size changes-----------------*/


@media(max-width:1280px){
    .hamburger{
        display: block;
        padding-right: 40px;
    }

    .hamburger .active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger .active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }

    .hamburger .active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navmenu{
        display:flex;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #000;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .navitem{
        margin: 16px 0;
    }

    .navmenu.active{
        left: 0;
    }
    .searchform{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #000;
        width: 100%;
        text-align: center;
        transition: 0.3s;
}
}

@media(max-width:1228px){

    .container{
        overflow-y: visible;
    }

    .row{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }

    h4{
        font-size: 50px;
        width: 500px;
    }

}

